body {
    background-color: #E74C3D;
}

h1 {
    color: #ECF0F1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   letter-spacing: 7px;
   font-size: 50px;
   font-weight: 500;
   text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ECF0F1;
    border-radius: 7px;
    border: none;
    padding: 10px;
    width: 200px;
    height: 50px;
   
}

.one {
    background-color: #32CC71;
}

.two {
    background-color: #FAA501;
    margin: 0px 10px;
}

.three {
    background-color: #9B59B6;
}